h1 {
    text-align: center;
}
.book{
    width: 100px;
    height: 170px;
    margin: 0 auto;
    background-size: 100px 170px;
  
    /* Set up positioning */
    top: 0;
    left: 0;
    }
.book-info {
    text-align: center;
}
