.content {
    display: flex;
}

.card {
    width: 100%;
}

.wall-bg {
    background: #f7f7f7;
}

.card-header {
    background-color: white;
}

.card-footer {
    background-color: rgb(243 245 240);
}

h6 {
    color: #739816;
}

.public-wall {
    display: none;
}

.private-wall {
    display: block;
}

@media only screen and (max-width: 600px) {
    .content {
        flex-direction: column;
    }
}
