
.loginText {
    cursor: pointer;
    color: #739815;
}

.login-container {
    margin-left: auto;
    margin-right: auto;
    
}

.login-form {
    margin-top: 30vh;
    width: 25vw;
    margin-left: auto;
    margin-right: auto;
}

.btn-custom {
    width: 15vw;
}