.search_book {
    text-align: center;
    color: orange;
}
.search {
	padding: 10px 100px;
}

.option {
	margin-left: 10px;
}

.search-option{
	margin-right: 5px;
	font-size: 18px;
}

.option-line{
	margin-top: 30px;
	margin-bottom: -15px;
}

#search.form-control{
	background-image: url('https://www.w3schools.com/css/searchicon.png');
	background-position: 10px 10px;
	background-repeat: no-repeat;
	padding: 12px 20px 12px 40px;
	margin-top: 25px;
}
.btn-search {
	background-color: orange;
	margin-top: 25px;
	margin-left: 10px;
	padding: 10px 20px;
	float: right;
	font-size: 18px;
	font-weight: bold;
}